<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>CSS-Individual</title>
</head>

<body>
    <section>
        <article class="card_one">
            <img src="/images/1.png" alt="">
            <div>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla eaque fuga amet minima, ab, suscipit
                    quas voluptatum distinctio iure nobis, tempore ipsam. Dolorum eius harum vero autem nam optio
                    eligendi?
                </p>
                <p class="secondPofArticle">HTML, JAVASCRIPT, NODEJS</p>
            </div>
        </article>
        <article class="card_two">
            <img src="/images/2.png" alt="">
            <div>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat omnis necessitatibus rerum totam
                    possimus harum deserunt voluptates eaque sint ad? Inventore magni expedita harum sint at quia enim
                    blanditiis cum.
                </p>
                <p class="secondPofArticle">HTML, JAVASCRIPT, NODEJS</p>
            </div>
        </article>
        <article class="card_three">
            <img src="/images/3.png" alt="">
            <div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat laudantium quidem eligendi
                    incidunt
                    eveniet ad odio aspernatur repudiandae sint numquam soluta, rerum, quo magnam ut iure ab dolorum
                    modi
                    omnis?
                </p>
                <p class="secondPofArticle">HTML, JAVASCRIPT, NODEJS</p>
            </div>
        </article>
    </section>



</body>

</html>